@function checkWidth($w, $c, $m) {
    $column: $c - 1;
    $margin: $m * $column;
    $rW: $w / $c;
    $rM: $margin / $c;
    @return calc(#{$rW} - #{$rM});
}

@mixin unorderedLists {
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
    }
}

@mixin createWidth($w, $c, $m) {
    width: checkWidth($w, $c, $m);
    margin-right: $m;
    &:nth-child(#{$c}n+#{$c}) {
        margin-right: 0;
    }
}

@keyframes spinnerAnimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
