$ff-poppins: 'Poppins', sans-serif;
/*COLORS*/
$warning: #F58A07;
$lightWarning: rgba(245, 138, 7, 0.1);
$dark: #1D3444;
$white: #FFFFFF;
$darkPrimary: #063255;
$lightPrimary: #DCEAF5;
$textColor: #5B5B5B;
$lightTextColor: #394149;
$smokeTextColor: #A8BCCC;
$darkTextColor: #0D1317;
/*LETTER_SPACING*/
$letterSpacing: -0.03em;
